In [2]:
# %pip install ipython-sql

In [4]:
# %pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/0c/94/e4181a1f6286f545507528c78016e00065ea913276888db2262507693ce5/PyMySQL-1.1.1-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [8]:
%pip install PyMySQL[rsa]

zsh:1: no matches found: PyMySQL[rsa]
Note: you may need to restart the kernel to use updated packages.

In [9]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [10]:
%sql show databases

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('information_schema',),
 ('may',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [11]:
%sql create database lahmansdb

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [12]:
from sqlalchemy import create_engine

In [13]:
data_dir = "/Users/donald.ferguson/Dropbox/000/000-Columbia-Courses/W4111-Intro-to-Databases-Base/Data/LahmansDB"

In [14]:
import os

In [17]:
files = os.listdir(data_dir)

In [18]:
files

['AwardsManagers.csv',
 'Managers.csv',
 'AwardsPlayers.csv',
 'Fielding.csv',
 'Salaries.csv',
 'readme2023.txt',
 'Parks.csv',
 'Schools.csv',
 'People.csv',
 'PitchingPost.csv',
 '.DS_Store',
 'Teams.csv',
 'Appearances.csv',
 'AwardsSharePlayers.csv',
 'TeamsFranchises.csv',
 'Batting.csv',
 'ManagersHalf.csv',
 'FieldingOF.csv',
 'Pitching.csv',
 'CollegePlaying.csv',
 'HomeGames.csv',
 'HallOfFame.csv',
 'AwardsShareManagers.csv',
 'BattingPost.csv',
 'TeamsHalf.csv',
 'SeriesPost.csv',
 'FieldingPost.csv',
 'AllstarFull.csv',
 'FieldingOFsplit.csv']

In [19]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost/lahmansdb")

In [22]:
# %pip install pandas

In [24]:
import pandas

In [25]:
df = pandas.read_csv(data_dir + "/" + files[0])

In [26]:
df

      playerID                    awardID  yearID lgID  tie  notes
0    mccarjo99    TSN Manager of the Year    1936   ML  NaN    NaN
1    mckecbi01    TSN Manager of the Year    1937   ML  NaN    NaN
2    mccarjo99    TSN Manager of the Year    1938   ML  NaN    NaN
3    durocle01    TSN Manager of the Year    1939   ML  NaN    NaN
4    mckecbi01    TSN Manager of the Year    1940   ML  NaN    NaN
..         ...                        ...     ...  ...  ...    ...
188  kaplega01  BBWAA Manager of the Year    2021   NL  NaN    NaN
189  francte01  BBWAA Manager of the Year    2022   AL  NaN    NaN
190  showabu99  BBWAA Manager of the Year    2022   NL  NaN    NaN
191   hydebr99  BBWAA Manager of the Year    2023   AL  NaN    NaN
192  schumsk01  BBWAA Manager of the Year    2023   NL  NaN    NaN

[193 rows x 6 columns]

In [28]:
tn = files[0].split(".")[0].lower()
tn

'awardsmanagers'

In [31]:
df.to_sql(tn, con=engine, index=False, if_exists="replace")

193

In [34]:
for f in files:
    try:
        tn = f.split(".")[0].lower()
        df = pandas.read_csv(data_dir + "/" + f)
        df.to_sql(tn, con=engine, index=False, if_exists="replace")
        print("Created table = ", tn)
    except Exception as e:
        print("Could not create table", tn)
        print("e = ", e)

Created table =  awardsmanagers
Created table =  managers
Created table =  awardsplayers
Created table =  fielding
Created table =  salaries
Could not create table readme2023
e =  Error tokenizing data. C error: Expected 2 fields in line 82, saw 3

Could not create table parks
e =  'utf-8' codec can't decode byte 0xfa in position 12955: invalid start byte
Could not create table schools
e =  Error tokenizing data. C error: Expected 5 fields in line 99, saw 6

Could not create table people
e =  'utf-8' codec can't decode byte 0xe1 in position 232116: invalid continuation byte
Created table =  pitchingpost
Could not create table
e =  'utf-8' codec can't decode byte 0x86 in position 23: invalid start byte
Created table =  teams
Created table =  appearances
Created table =  awardsshareplayers
Created table =  teamsfranchises
Created table =  batting
Created table =  managershalf
Created table =  fieldingof
Created table =  pitching
Created table =  collegeplaying
Created table =  homegames
Created table =  halloffame
Created table =  awardssharemanagers
Created table =  battingpost
Created table =  teamshalf
Created table =  seriespost
Created table =  fieldingpost
Created table =  allstarfull
Created table =  fieldingofsplit